<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ith.android.flocal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ru.ith.android.flocal.activities.BoardListActivity"
            android:label="@string/title_activity_board_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.ith.android.flocal.activities.ThreadListActivity"
            android:label="@string/title_activity_thread_list" >
        </activity>
        <activity
            android:name="ru.ith.android.flocal.activities.PostListActivity"
            android:label="@string/title_activity_post_list_adapter"
            android:parentActivityName="ru.ith.android.flocal.activities.ThreadListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.ith.android.flocal.activities.ThreadListActivity" />
        </activity>
    </application>

</manifest>